/* Media Query section start */


@media only screen and(max-width: 1022px) {
    header .tophead {
        display: none;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 13px !important;
    }

}
@media (max-width:994px) {
    
}
/* banner */
@media (max-width:992px){
    .Banner{
       width: 100%;
       height: 50vh;
    }
    .carousel-inner .carousel-item .carousel-caption{
        display: none;
    }
}
@media (min-width:994px) and (max-width:1198px){
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 10px;
        padding: 0px 0px ;
    }
}

@media only screen and (max-width:768px) {
    .carousel-inner .carousel-item .carousel-caption {
        bottom: 9rem !important;
    }

    .carousel-indicators {
        bottom: 8.5rem !important;
    }

    .carousel-inner .carousel-item .carousel-caption .find_branch_btn{
        display: inline-block !important;
        padding: 0.6rem 1rem !important;
    }
}
/* counter section */
@media  (max-width:768px){
    .counter-block {
        height:50vh;
        width: 100%;
    }
    #world{
        width: 100%;
        height: 80vh;
    }
   #world .free-quote-btn{
    display: block;
    margin-top: 120px;
    width: 230px;
    height: 40px;
    margin-left: 150px;
   }
}
@media (max-width:400px){
    #world .free-quote-btn{
       
        width: 170px;
        height: 40px;
        padding: 5px 10px;
        margin-left: 70px;
        font-size: small;
       }
     
}
@media (max-width:304px){
   
}
/* Map image */
@media (max-width:768px){
    .worldwide-network .worlwide-map-img{
        width: 100%;
        height: 40vh;
    }
}

/* WOlrdwide section */
@media (max-width:450px) {
    .worldwide-btn .country-btn,.free-quote-btn{
       display: block;
       padding: 10px 5px;
       margin-top: 10px;
        background-color: yellow;
    }
}
/* Media Query section end */