*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Top head section starts */
header .tophead{
    width: 100%;
    background-color:  #34313a;
    height: 28px;
}
a{
    text-decoration: none;
}
.text-justify{
    text-align: justify
    ;
}
header .tophead .leftgroup ul li{
    margin: 0px 20px;
    color: #fff;
}
header .tophead  ul li a{
    color: #fff;
    font-size: 13px;
}
/* Active class code */
header .tophead .leftgroup ul li a.active{
    width: auto;
    height: auto;
    color: red;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    position: relative;
    background-color: #fff;
    display: inline-block;
}
header .tophead .leftgroup ul li a.active:hover{
    text-decoration: none;
}
header .tophead .leftgroup ul li a.active::before{
    content: "";
    top: 0px;
    width: 0;
    height: 0;
    right: 100%;
    position: absolute;
    border-right: 15px solid #fff;
    border-bottom: 0px solid #fff;
    border-top: 28px solid transparent;
}
/* Active class code end */
header .tophead .leftgroup ul li a:hover{
    text-decoration: underline;
}
header .tophead .rightgroup ul li{
    margin: 0px 15px;
}
header .tophead .rightgroup ul li select{
    background-color: #34313a;
    border: none;
    color: #fff;
    font-size: 13px;
}

/* Top head section end */

/* Navbar section starts*/
.navbar-nav .nav-item .nav-link{
    font-size: 13px;
    margin: 0px 14px;
}
.navbar-nav form button{
    border-radius: 40px;
    border: 1px solid rgb(60, 81, 199);
}
.navbar-nav form button .fa-pen-to-square {
   padding: 6px;
}
/* Navbar section ends*/

/* Slider Section Start */
.carousel-inner .carousel-item{
    height: 500px;
}
.carousel-inner .carousel-item img{
    animation: zoomin 20s infinite;
}
@keyframes zoomin{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

.carousel-dark .carousel-indicators [data-bs-target]{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


/* Slider Section End */

/* International removal section start */
.interbox{
    min-height: 200px;
    margin-top: -50px;
    z-index: 9;
    background: #fff;
}
.interbox p{
    font-size: 17px;
    color: rgb(32, 32, 32);
}
/* International removal section end */


/* Media Query section start */
@media only screen and(max-width: 1023px) {
    header .tophead{
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        font-size: 13px !important;
    }

}

@media  only screen and (max-width:768px) {
    .carousel-inner .carousel-item .carousel-caption{
        bottom: 9rem !important;
    }
    .carousel-indicators{
        bottom: 8.5rem 1 !important;
    }
}
/* Media Query section end */
